html{
	box-sizing: border-box;
}

*,
*::after,
*::before{
	box-sizing: inherit;
}

@font-face {
	font-family: 'Corporate-A-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Corporate-A-Bold.woff2') format('woff2'),
		url('../fonts/Corporate-A-Bold.woff') format('woff ');
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	background: #070A1B;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #fff;
}

a{
	text-decoration: none;
	color: inherit;
}

button{
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

ul{
	list-style: none;
}

.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}


/* .header{

} */

.header__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
} 

.list{
	display: flex;
}

.list__item + .list__item{
	margin-left: 30px;
}

.list__link{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: background .3s;
}
.list__link:hover{
	background-color: #C1A1D2;
}

.header__content{
	background-image: url(../images/header-bg.png);
	min-height: calc(100vh - 100px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}
.header__content::before{
	content: "";
	background-image: url(../images/decor.svg);
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: -25px;
}

.title{
	font-family: 'Corporate-A-Bold';
	margin-bottom: 5px;
	font-size: 72px;
	line-height: 120%;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-descr{
	font-size: 24px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 50px;
}


.footer__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 300px;
}
